In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sklearn import preprocessing
import sys
sys.path.insert(0, 'XXXX-XXXX')
from read_db import *

In [2]:
path = r"XXXX-XXXX"
con = sqlite3.connect(path)
cur = con.cursor()
start = time.time()
#defenders = pd.read_sql_query("SELECT AVG(minutes), minutes  FROM (SELECT * FROM playerStatistic AS ps WHERE ps.player_id = (?) AND ps.timestamp < (?) ORDER BY ps.timestamp DESC LIMIT 5);", con, params=(41409, 1555097400))
elapsed_time_fl = (time.time() - start) 
print(str(elapsed_time_fl)+ " time")

0.0 time

Limitiert aus Zeitgründen also insgesamt 322762 rows in 50.000 blöcke = ca. 6 blöcke <br>
Limit setzen letzten timestamp nehmen, alle spieler kleiner als letzte timestamp werden bearbeitet <br>
letzter timestamp aus der abfrage wählen und abfragen alle timestamp > letzter timestamp <br>
4/7

In [11]:
path = r"XXXX-XXXX" 
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp < 1462041000  ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [18]:
path = r"XXXX-XXXX" 
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1462037400 AND l.timestamp < 1492867800 ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [25]:
path = r"XXXX-XXXX"  
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1492858800 AND l.timestamp < 1522501200 ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [32]:
path = r"XXXX-XXXX"  
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1522495800 AND l.timestamp < 1552158000 ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [40]:
path = r"XXXX-XXXX" #1581883200
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1552157100  AND l.timestamp < 1581883200  ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [49]:
path = r"XXXX-XXXX" 
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1581882300 AND l.timestamp < 1612818000 ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [7]:
path = r"XXXX-XXXX" 
con = sqlite3.connect(path)
cur = con.cursor()
defenders = pd.read_sql_query("SELECT fixture_id, timestamp, player_id, player_position FROM lineups AS l WHERE l.timestamp > 1612814400  ORDER BY l.timestamp ASC LIMIT 50000 ;", con)

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)
display(defenders)
defenders = defenders.fillna(0)
defenders.describe()

       fixture_id   timestamp  player_id player_position
0          601177  1612818000       2066               G
1          601177  1612818000      10231               D
2          601177  1612818000      41123               M
3          601177  1612818000      41236               D
4          601177  1612818000     146048               D
...           ...         ...        ...             ...
23029      705683  1622397600      15327               M
23030      705683  1622397600      43304               M
23031      705683  1622397600      41930               F
23032      705683  1622397600      41188               F
23033      705683  1622397600      41139               F

[23034 rows x 4 columns]

          fixture_id     timestamp      player_id
count   23034.000000  2.303400e+04   23034.000000
mean   594451.405922  1.617660e+09   27454.490405
std     19049.156420  2.756204e+06   37291.541604
min    571576.000000  1.612818e+09       1.000000
25%    573467.000000  1.615052e+09    1858.000000
50%    592853.000000  1.618072e+09   21090.000000
75%    605369.000000  1.620069e+09   37437.000000
max    705683.000000  1.622398e+09  314513.000000

In [ ]:
it_count=0
def call_player_stats(x):
    global it_count
    a = get_player_stats_last_five_games(int(x.player_id), int(x.timestamp))
    x = x.drop(index=['player_id'])
    series = pd.concat([a, x], axis=0)
    it_count = it_count+1
    print(it_count)
    return series

df = pd.DataFrame()
df = df.append((defenders.apply(call_player_stats, axis=1)), ignore_index=True)

In [60]:
df = df.fillna(0)
df = df.astype({"player_id": int, "fixture_id": int, "timestamp": int})
display(df)

,assists,blocks,commited_fouls,commited_penalty,conceded,drawn_fouls,dribble_attempts,dribble_past,dribble_success,fixture_id,interceptions,key_passes,minutes,missed_penalty,number,offside,on_goal_shots,pass_accuracy,player_id,player_position,rating,red,saved_penalty,saves,scored_penalty,timestamp,total_duels,total_goals,total_passes,total_shots,total_tackels,won_duels,won_penalty,yellow
0,0.000,0.000,0.000,0.000,1.000,0.400,0.000,0.000,0.000,601177,0.000,0.000,90.000,0.000,23.000,0.000,0.000,15.200,2066,G,7.460,0.000,0.000,3.800,0.000,1612818000,0.800,0.000,28.600,0.000,0.000,0.800,0.000,0.000
1,0.000,0.200,0.000,0.000,0.000,0.200,0.000,0.200,0.000,601177,1.400,0.000,83.600,0.000,26.000,0.000,0.000,33.600,10231,D,6.720,0.200,0.000,0.000,0.000,1612818000,6.000,0.000,37.800,0.200,0.400,3.000,0.000,0.400
2,0.200,0.000,0.000,0.000,0.000,0.600,2.000,0.000,1.200,601177,0.600,0.400,75.200,0.000,5.000,0.000,0.200,25.800,41123,M,0.000,0.000,0.000,0.000,0.000,1612818000,12.400,0.000,39.200,0.400,2.400,6.600,0.000,0.200
3,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.200,0.000,601177,0.600,0.000,54.000,0.000,37.000,0.000,0.000,16.200,41236,D,4.140,0.000,0.000,0.000,0.000,1612818000,3.800,0.000,21.800,0.000,1.200,1.800,0.000,0.200
4,0.000,0.200,0.000,0.200,0.000,1.000,0.000,0.800,0.000,601177,3.800,0.000,87.400,0.000,4.000,0.000,0.000,35.400,146048,D,6.800,0.200,0.000,0.000,0.000,1612818000,7.600,0.000,43.800,0.000,1.200,4.200,0.000,0.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,0.200,0.000,0.000,0.000,0.000,1.000,0.000,0.800,0.000,705683,1.200,0.600,62.200,0.000,21.000,0.000,0.000,71.400,15327,M,6.940,0.000,0.000,0.000,0.000,1622397600,5.400,0.000,28.800,0.400,0.200,2.800,0.000,0.000
23030,0.000,0.200,0.000,0.000,0.000,0.800,0.200,0.200,0.000,705683,0.600,0.400,38.000,0.000,8.800,0.000,0.000,70.000,43304,M,0.000,0.000,0.000,0.000,0.000,1622397600,3.800,0.000,14.800,0.000,0.800,1.800,0.000,0.000
23031,0.200,0.000,0.000,0.000,0.000,2.600,2.200,0.600,1.200,705683,0.600,0.400,48.000,0.000,78.000,0.000,0.000,38.800,41930,F,0.000,0.000,0.000,0.000,0.000,1622397600,10.400,0.000,8.400,0.600,0.200,5.600,0.200,0.000
23032,0.000,0.000,0.000,0.000,0.000,1.000,1.000,0.667,0.000,705683,0.667,0.000,44.000,0.000,68.333,0.000,0.333,50.000,41188,F,6.667,0.000,0.000,0.000,0.000,1622397600,8.667,0.333,8.667,1.000,0.333,3.000,0.000,0.667
23033,0.000,0.200,0.000,0.000,0.000,1.800,2.400,0.200,1.400,705683,0.600,0.000,89.800,0.000,63.200,0.000,0.400,62.000,41139,F,6.680,0.000,0.000,0.000,0.000,1622397600,12.000,0.000,19.200,0.400,1.000,5.600,0.000,0.200

In [ ]:
engine = create_engine(r'XXXX-XXXX', echo=False)
df.to_sql('avgPlayerStatistics', con=engine) #if_exists='append'

In [43]:
test = pd.read_sql_query("SELECT DISTINCT  * FROM teamRatings WHERE defence > -1 ORDER by attack DESC LIMIT 5", con)

In [44]:
display(test)

   team_id          elo    attack   defence
0      194  1890.830433  3.137008 -0.359642
1       50  1815.456156  2.941611 -0.960649
2       85  1807.836039  2.693169 -0.680128
3      505  1826.141673  2.663105 -0.631808
4      212  1858.904664  2.619997 -0.526141

In [3]:
midfield = pd.read_sql_query("SELECT *  FROM avgPlayerStatistics AS ps;", con)

In [9]:
display(midfield)

,index,assists,blocks,commited_fouls,commited_penalty,conceded,drawn_fouls,dribble_attempts,dribble_past,dribble_success,fixture_id,interceptions,key_passes,minutes,missed_penalty,number,offside,on_goal_shots,pass_accuracy,player_id,player_position,rating,red,saved_penalty,saves,scored_penalty,timestamp,total_duels,total_goals,total_passes,total_shots,total_tackels,won_duels,won_penalty,yellow
0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.000000,0.0,185545,1.000000,0.0,90.0,0.0,1.000000,0.0,0.000000,75.0,87166,G,6.500000,0.0,0.0,1.0,0.0,1438972200,2.000000,0.000000,18.000000,0.0,0.000000,1.0,0.0,0.000000
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,185545,2.000000,0.0,90.0,0.0,5.000000,0.0,0.000000,83.0,6366,D,6.700000,0.0,0.0,0.0,0.0,1438972200,3.000000,0.000000,31.000000,0.0,1.000000,2.0,0.0,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.000000,0.0,185545,1.000000,1.0,90.0,0.0,2.000000,0.0,1.000000,80.0,560,M,6.600000,0.0,0.0,0.0,0.0,1438972200,11.000000,0.000000,21.000000,2.0,4.000000,5.0,0.0,0.000000
3,3,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.000000,2.0,185545,3.000000,0.0,90.0,0.0,19.000000,0.0,0.000000,82.0,102,D,6.200000,0.0,0.0,0.0,0.0,1438972200,18.000000,0.000000,37.000000,0.0,2.000000,6.0,0.0,1.000000
4,4,0.0,2.0,0.0,0.0,0.0,1.0,2.0,1.000000,1.0,185545,3.000000,0.0,90.0,0.0,28.000000,0.0,0.000000,83.0,2725,D,7.000000,0.0,0.0,0.0,0.0,1438972200,10.000000,0.000000,36.000000,1.0,2.000000,4.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322757,23029,0.2,0.0,0.0,0.0,0.0,1.0,0.0,0.800000,0.0,705683,1.200000,0.6,62.2,0.0,21.000000,0.0,0.000000,71.4,15327,M,6.940000,0.0,0.0,0.0,0.0,1622397600,5.400000,0.000000,28.800000,0.4,0.200000,2.8,0.0,0.000000
322758,23030,0.0,0.2,0.0,0.0,0.0,0.8,0.2,0.200000,0.0,705683,0.600000,0.4,38.0,0.0,8.800000,0.0,0.000000,70.0,43304,M,0.000000,0.0,0.0,0.0,0.0,1622397600,3.800000,0.000000,14.800000,0.0,0.800000,1.8,0.0,0.000000
322759,23031,0.2,0.0,0.0,0.0,0.0,2.6,2.2,0.600000,1.2,705683,0.600000,0.4,48.0,0.0,78.000000,0.0,0.000000,38.8,41930,F,0.000000,0.0,0.0,0.0,0.0,1622397600,10.400000,0.000000,8.400000,0.6,0.200000,5.6,0.2,0.000000
322760,23032,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.666667,0.0,705683,0.666667,0.0,44.0,0.0,68.333333,0.0,0.333333,50.0,41188,F,6.666667,0.0,0.0,0.0,0.0,1622397600,8.666667,0.333333,8.666667,1.0,0.333333,3.0,0.0,0.666667
322761,23033,0.0,0.2,0.0,0.0,0.0,1.8,2.4,0.200000,1.4,705683,0.600000,0.0,89.8,0.0,63.200000,0.0,0.400000,62.0,41139,F,6.680000,0.0,0.0,0.0,0.0,1622397600,12.000000,0.000000,19.200000,0.4,1.000000,5.6,0.0,0.200000